<h2>List of Employees</h2>
<a ng-click="addEmployee()"> Add Employee </a>
<br />
<table>
    <thead>
        <tr>
            <th>EmpNo</th><th>EmpName</th><th>Salary</th><th>DeptName</th><th>Designation</th><th></th><th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Emp in Employees">
            <td>{{Emp.EmpNo}}</td>
            <td>{{Emp.EmpName}}</td>
            <td>{{Emp.Salary}}</td>
            <td>{{Emp.DeptName}}</td>
            <td>{{Emp.Designation}}</td>
            <td><a ng-click="editEmployee(Emp.EmpNo)">Edit</a></td>
            <td><a ng-click="deleteEmployee(Emp.EmpNo)">Delete</a></td>
        </tr>
    </tbody>
</table>


 
<div>{{error}}</div>

 

